/* universal */

html {
    height: 100%;
}

body {
    font-family:'Roboto', sans-serif;
    margin: 0;
    height: 100%;
    display: grid;
    grid-template: 
                "menu-side header" 1fr
                "menu-side main" 10fr 
                "menu-side footer" 3fr / 1fr 12fr;
    gap: 10px;
}

a:hover {
    color: rgb(190, 153, 52);
}

a {text-decoration: none;}

pre {
    display: block;
    margin: 1em 0;
    text-align: left;
}
/* header */

header {
    grid-area: header;
}

.section-heading {
    width: 30%;
    display: flex;
    justify-items:center;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.section-heading img {
    height: 3em;
    width: auto;
    padding: 10px;
}
.section-heading h1 {
    color: #4e0660;
    text-align: center;
}

.search-bar-top {
    display: flex;
    margin: auto;
    justify-content:center

}

.search-bar-top {
    padding: 20px;
}
#search-top {
    width: 40%;
    border: 1px solid #b0a1b3;
    border-radius: 10px;
    font-size: 80%;
    padding: 10px;
}

.search-bar-top button {
    border: 1px solid #b0a1b3;
    border-radius: 10px;
    font-size: 80%;
    text-align: center;
    background-color: #b0a1b3;
    color: #4e0660;
    margin-left: 1em;
    padding: 10px;
}

/*.searchButton { 
    width: auto;
    height: 36px;
    border: 1px solid midnightblue;
    background: midnightblue;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}*/

/* nav */

.menu-side {
    grid-area: menu-side;
    background-color: #f3eff5;
}

.logo {
    justify-content: center;

}

.logo img {
    width: auto;
    height: 2em;
    padding: 7px 15px;
    border-radius: 10px;
    transition: background-color 100ms ease-in;
   
}

.menu-side ul {
    margin-block: 0;
    padding: 0;
}

.menu-side li {
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: none;
    text-align: center;
    justify-items: center;
}

.menu-side a {
    color: grey;
    font-size: 80%
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    margin: auto;
    color: #e3b602;
    padding: 7px 15px;
    border-radius: 10px;
    transition: background-color 100ms ease-in;
    margin-bottom: 0.3em;
  }

nav a {
    text-decoration: none;
    color: #DFEDDD;
}

.material-symbols-outlined:hover {
    background-color: #b0a1b3;
    color: #f8f1b9
}

.logo img:hover {
    background-color: #b0a1b3;
    transition: ease
}

/* main style */
.landing-page {
    grid-area: main;
    display: grid;
    grid-template: 
                    ". design html ." 1fr
                    ". css    javascript ." 1fr / 1fr 2fr 2fr 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
    
}

.box {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box a {
    color: #726f5e;
    font-size: 200%;
}

.design-main {
    grid-area: design;
    width: 90%;
    height: 90%;
    background-color: #fee581;
  
}

.html-main {
    grid-area: html;
    width: 90%;
    height: 90%;
    background-color: #e4e1ce;
}

.css-main {
    grid-area: css;
    width: 90%;
    height: 90%;
    background-color: #f7e8fd;
}

.javascript-main {
    grid-area: javascript;
    width: 90%;
    height: 90%;
    background-color: #f3eff5;
}


#menu-box-mouseover {
    background-color: #b0a1b3;

}

#menu-box-mouseover a {
    color: #F3E7B8
}


/* media */

@media only screen and (max-width: 480px) {
    .menu-side, footer, .search-bar-top {
        display: none;
    }

    body {
        grid-template: 
                    "menu-side-mobile header ." 0.5fr
                    "main main main" 6fr / 1fr 5fr 1fr;
    }
    
    .section-heading {
        width: 100%;
    }
    
    .section-heading h1 {
        font-size: 80%;
    }

    .section-heading img {
        height: 2em;
    }

    .menu-side-mobile {
        grid-area: menu-side-mobile;
    }

    .landing-page {
        grid-area: main;
        display: grid;
        grid-template: 
                    "design" 1fr
                    "html" 1fr
                    "css" 1fr
                    "javascript" 1fr / 1fr;
        ;
    }
}

@media only screen and (min-width: 480px) {
    .menu-side-mobile {
        display: none;
    }

}

/* css and html table */

table {
    width: 100%;
}

table, th, td {
    font-size: 90%;
}

td {
    vertical-align: text-top;
    background-color: #e8e4ca;
}

thead {
    background-color: #c4b1ce;
    text-align: left;
    color: #6d4f7d;
    line-height: 2.5em;
    text-indent: 1%;
    align-items: center;

}

td.table-example {
    font-family: monospace;
    font-size: 110%;
}

td.table-note {
    line-height: 1.5;
}

/* footer */
footer {
    grid-area: footer
}

footer h5 {
    color: #024602;
    font-size: 80%;
    font-weight: 600;
    margin-left: 1rem;
}

.resources-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.resources-content li {
    list-style-type: none;
}

.resources-content a {
    text-decoration: none;
    color: #726f5e;
    font-size: 70%;
    font-weight: 500;
}

.resources-content a:hover {
    text-decoration: underline;
    color: rgb(190, 153, 52);;
}

span.jscode {
    font-family: monospace;
    font-size: 13px;
}